* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    margin-bottom: 5rem;

}

.container {
    height: 100vh;
    width: 100vw; 
    background: #1D2B64;
    background: -webkit-linear-gradient(to left, #e90f50, #1D2B64);
    background: linear-gradient(to left, #d83cd0, #1D2B64);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px 20px; 
    cursor: pointer; 
    margin-top: 4rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    font-weight: bolder;
}
input{
    font-size: 2rem;
    margin-bottom: 4rem;
    border-radius: 5%;
    height: auto;
    background-color:whitesmoke;
}

p{
    width: 50%;
    height: 100%;
    background-color: rgb(233, 223, 204);
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 2%;
    line-height: 3rem;
}
.joke{
    display: flex;
    justify-content: center;
    align-items: center;

}



